body {
  font-family: Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  line-height: 23px;
}

header {
  background-color: #fdfdfc;
  text-align: center;
  border-bottom: 1px solid #e7e6e6;
  padding-top: 14px;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.title {
  display: inline-block;
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
  vertical-align: top;
}

#navigation {
  top: -20px;
  margin-top: -20px;
  background-color: #3D5167;
}

#navigation li {
  display: inline-block;
  padding: 10px;
}

#navigation li a {
  text-decoration: none;
  color: #e7e7e7;
}

.my-picture {
  height: 60px;
  display: inline-block;
}

.beginning {
  float: left;
}

.end-of-line {
  float: right;
}

#container {
  min-width: 200px;
  padding-top: 150px
}

ul {
  list-style:none;
  padding: 0;
}

.content {
  background-color: #e8e8e8;
  padding: 30px 40px;
}

.image-container{
  height: 200px;
  padding: 10px;
  position: relative;
  width: 200px;
}

.clear {
  clear: both;
}

.caption {
  background-color: rgba(250, 250, 250, 0.8);
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  position: absolute;
  width: 73%;
}

footer {
  height: 60px;
  padding-top: 20px;
  background-color: #1f1430;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  width: 100%;
}

footer p {
  color: #b0afc0;
  font-size: 14px;
  margin-left: 30px;
}

footer a {
  color: #b0afc0;
}


