.entry-title {
  color: #652f93;
  font-size: 2.5em;
}

footer {
  text-align: center;
}

#main {
  width: 80%;
  min-width: 680px;
  margin: 0 auto;
}

#notice {
  background-color: #ff036a;
  padding: 20px;
  font-size: 1.2em;
}
