body {
  font-family: Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  line-height: 23px;
}

header {
  background-color: #fdfdfc;
  text-align: center;
  border-bottom: 1px solid #e7e6e6;
  padding-top: 14px;
  height: 70px;
}

.my-picture {
  height: 60px;
  display: inline-block;
}

.title {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

#container {
  min-width: 600px;
}

.sidebar {
  background-color: #fdfdfd;
  line-height: 20px;
  display: inline-block;
  width: 30%;
  min-width: 300px;
  padding: 25px 30px 20px;
  border: 1px solid #e8e8ea;
  margin-top: 55px;
  margin-left: 20px;
  max-width: 320px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 1px rgba(237, 235, 232, 0.4);
}

.social-media {
  list-style:none;
  margin-left: 10px;
  padding-left: 20px;
}

.social-media li {
  border-bottom: 1px solid #b0afc0;
  padding: 10px;
  width: 200px;
}

.social-media li a {
  color: #4c4066;
  text-decoration:none;
  text-shadow: 1px 0px #ffffff;
  border-left: 7px solid #fdcc38;
  padding-left: 10px;
}

.social-media li a:hover {
  border-left-color: #a26cd2;
}

.sidebar b {
  margin-left:36px;
  color: #4c4066;
  font-size: 19px;
}

.main {
  display: inline-block;
  margin-left: 70px;
  padding-top: 60px;
  vertical-align: top;
  width: 55%;
}

h2 {
  color: #4c4066;
  font-size: 27px;
  margin-top:0;
}

a {
  color: #b0afc0;
}

.main a {
  color: #7a3cb7;
}

a:hover {
  color: #a26cd2
}

.highlight {
  color: #4c61a9;
}

.poem span {
  font-style: italic;
  color: #4C4066;
}

.quote {
  border: 1px solid #E7E6E6;
  padding: 20px 27px;
  border-radius: 6px;
  background-color: #FDFDFC;
  color: #4C4066;
  margin-top: 40px;
  margin-bottom: 40px;
}

.center {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
}

footer {
  width: 97%;
  height: 60px;
  padding: 19px 0 0 30px;
  background-color: #1f1430;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
}

footer p {
  color: #b0afc0;
  font-size: 14px;
}
