<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' type='text/css' href='../../stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' href='../../stylesheets/pygments.css' />
    <link rel='stylesheet' type='text/css' href='../../stylesheets/github.css' />
  </head>
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} }>
    <div id="main">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
  </body>
</html>
