---
layout: default
---


<div>
  <article role="article">
    {% if page.title %}
    <header>
      <h1 class="entry-title">{{ page.title }}</h1>
    </header>
    {% endif %}

    {% if page.files %}
      <a class="tutorial-filelist__heading" name="download-default">Files for example</a>
      <ul class="tutorial-filelist__list">
        {% assign pageurl = page.url | split: '/' | pop: | join: '/' %}
        {% for file in page.files %}
          <li class="tutorial-filelist__file"><a href="{{ pageurl }}/{{ file }}">{{ pageurl }}/{{ file }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {{ content }}
    <footer>
        <a href='http://tutorials.codebar.io/'>Back to tutorials</a>
        <a href='http://codebar.io/'>codebar mainpage</a>
    </footer>
  </article>
</div>




